/* responsive basics */
/*The following 7 lines are from Paul Irish and apply a border-box model.
See this page for more info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Basic Responsive Images and Video */
img,video{
  width: auto;
  height: auto;
  max-width: 100%;
  /* max-height: 100%; */
}

body{
    padding: 1em;
}

.crowds{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
}

.crowd{
    display: flex;
    flex-direction: column;

    /* justify-content: flex-end; */
}
.crowd__image{
    /* this combined with flex-direction: column and ordering this to the last one means the image will be flush to the bottom */
    order: 1;
    margin-top: auto;

    /* this combined with column direction and justify-content: flex-end; keeps image at top and rest pushed to bottom */
    /* order: -1;
    margin-bottom: auto; */
}
.crowd__image img{
    vertical-align: middle; /*removes the 3px gap below the image */
}


.crowd__text{
    /* margin-top: auto; */
}
.outside-link{
    /* display: block; */
    /* text-align: right; */
    /* margin-top: .5rem; */
}
