/* Optional, include a web font  */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i');

/* The html and body selectors below set the base font for the entire page */
html {font-size: 1em;}

body {
  font-family: 'Gentium Book Basic', serif;
   /* font-family: Lato, sans-serif; */
  font-weight: 400;
  line-height: 1.5;
  color: #333;

/*   there are other ways to do this but it's good to remember not to let text run right up to the edge of borders or color changes, images etc.' */
/*   padding: 1em; */
}

/* This adds space between paragraphs and list items
   NOTE: most Navigations use list items so you will need to
   explicity set the margins on those so this rule doesn't
   mess up your navigation styling */
p, li {
  margin-top: 0;
  margin-bottom: 1em;
}

/* Base Styling for headings  */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  font-family: 'Gentium Book Basic', serif;
}

/* For each of your headings at minimum set the margin, size, line-height. Adjust font-weight and other properties as needed. */

h1 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;

}

h6 {
  font-size: 1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400; /* normal */
  text-transform: uppercase;
}


/* .site-header h1{
    font-size: 4em;
    margin-bottom: 0;
}
.introduction{
    font-size: 2em;
}

.crowd__type{
    font-size: .8em;
    color: #777;
    text-transform: uppercase;
}
.crowd__meta{
    font-variant-numeric: oldstyle-nums;
    font-variant-numeric: lining-nums;
    font-variant-position: super;
}
*/
.crowd__image{
    display: none;
}
